---
active_menu_item: contact
template: contact

pl:
  title: Kontakt 
  text: |
    [b]Aleksandra Kuls jest reprezentowana przez Stowarzyszenie im. Ludwiga van Beethovena.[/b]

    Impresariat Stowarzyszenia im. Ludwiga van Beethovena:

    Mirosława Wachowska-Nowak 
    management@beethoven.org.pl

    tel. + 48 22 313 22 76
    fax. +48 22 313 00 05
    ul. Chmielna 15/10
    00-021 Warszawa

    Strona impresariatu stowarzyszenia:
    [url=http://www.beethoven.org.pl/pl/encyklopedia/impresariat]http://www.beethoven.org.pl/pl/encyklopedia/impresariat [/url]

    Aleksandra Kuls:
    e-mail: okuls@wp.pl

en:
  title: Contact
  text: |
    [b]Aleksandra Kuls is represented the Ludwig van Beethoven Association.[/b]

    Impresariat Stowarzyszenia im. Ludwiga van Beethovena:

    Mirosława Wachowska-Nowak 
    management@beethoven.org.pl

    tel. + 48 22 313 22 76
    fax. +48 22 313 00 05
    ul. Chmielna 15/10
    00-021 Warszawa

    Strona impresariatu stowarzyszenia:
    [url=http://www.beethoven.org.pl/pl/encyklopedia/impresariat]http://www.beethoven.org.pl/pl/encyklopedia/impresariat [/url]

    Aleksandra Kuls:
    e-mail: okuls@wp.pl

---
