---
active_menu_item: gallery
template: gallery


pl:
  photos:
    -
      title: Dariusz Kulesza - Agencja Gazeta
      file_name: gallery1.jpg
    -
      title: Dariusz Kulesza - Agencja Gazeta
      file_name: gallery2.jpg
    -
      title: Dariusz Kulesza - Agencja Gazeta
      file_name: gallery3.jpg
    -
      title: Zdjęcie należy do Archiwum Stowarzyszenia im. Ludwiga van Beethovena
      file_name: gallery4.jpg
    -
      title: Zdjęcie należy do Archiwum Stowarzyszenia im. Ludwiga van Beethovena
      file_name: gallery5.jpg
    -
      title: Zdjęcie należy do Archiwum Stowarzyszenia im. Ludwiga van Beethovena
      file_name: gallery6.jpg
    -
      title: Zdjęcie RR Studio
      file_name: gallery7.jpg
    -
      title: fot. Piotr Iwaszko
      file_name: gallery8.jpg
    -
      title: fot. Piotr Iwaszko
      file_name: gallery9.jpg

en:
  photos:
    -
      title: Dariusz Kulesza - Agencja Gazeta
      file_name: gallery1.jpg
    -
      title: Dariusz Kulesza - Agencja Gazeta
      file_name: gallery2.jpg
    -
      title: Dariusz Kulesza - Agencja Gazeta
      file_name: gallery3.jpg
    -
      title: Alexandra Kuls is represented by Ludwig van Beethoven Association.
      file_name: gallery4.jpg
    -
      title: Alexandra Kuls is represented by Ludwig van Beethoven Association.
      file_name: gallery5.jpg
    -
      title: Alexandra Kuls is represented by Ludwig van Beethoven Association.
      file_name: gallery6.jpg
    -
      title: photo RR Studio
      file_name: gallery7.jpg
    -
      title: photo Piotr Iwaszko
      file_name: gallery8.jpg
    -
      title: photo Piotr Iwaszko
      file_name: gallery9.jpg


---
