---
active_menu_item: music
template: music


pl:
  musics:
    -
      title: "H.Wieniawski - Koncert skrzypcowy d-moll Op.22, cz.3 Allegro con fuoco. Wyk. Polska Orkiestra Radiowa pod dyr. M Dworzyńskiego"
      yt_id: k24dxXebaO8

    -
      title: "F.Mendelssohn - Koncert skrzypcowy e-moll cz. III"
      yt_id: OZMVP8Q9irg      

en:
  musics:
    -
      title: "Henryk Wieniawski, Violin concerto in D minor, Op. 22, p.3 Allegro con fuoco, Polish Radio Orchestra, conductor: Michal Dworzynski"
      yt_id: k24dxXebaO8

    -
      title: "F.Mendelssohn - Violin Concerto E minor p.3"
      yt_id: OZMVP8Q9irg   
---
