---
active_menu_item: music
template: music

pl:
  musics:
    -
      title: "Ignacy Waghalter - Koncert skrzypcowy A-dur, op. 15, cz. 3"
      yt_id: "op-GSuE-6cw"

    -
      title: "Eugène Ysaÿe - Sonata 5 G-dur, cz. 1, L'Aurore"
      yt_id: "LX61jKWAx9k"

    -
      title: 'Sonata A-dur op. 47 "Kreutzerowska" cz. I'
      yt_id: "wg00zO7LALY"

    -
      title: "Jules Massenet - Medytacja z opery Thais"
      yt_id: "_4qQoP2F6Dk"

    -
      title: "Georgy Catoire - Elegia"
      yt_id: "lNRB2tulmYY"

en:
  musics:
    -
      title: "Ignatz Waghalter: Concerto for Violin and Orchestra A major Op.15 p.3"
      yt_id: "op-GSuE-6cw"

    -
      title: "Eugène Ysaÿe Sonata No.5 in G Major p.1 L'Aurore"
      yt_id: "LX61jKWAx9k"

    -
      title: 'Ludwig van Beethoven Sonata in A major Op.47 "Kreutzer" p.1'
      yt_id: "wg00zO7LALY"

    -
      title: "Jules Massenet - Meditation from Thais"
      yt_id: "_4qQoP2F6Dk"

    -
      title: "Georgy Catoire - Elegy"
      yt_id: "lNRB2tulmYY"
---
