---
active_menu_item: music
template: music


pl:
  musics:
    -
      title: "Eugène Ysaÿe - Sonata 5 G-dur, cz. 1, L'Aurore"
      yt_id: "LX61jKWAx9k"

    -
      title: "Ignacy Waghalter - Koncert skrzpcowy A-dur, op. 15, cz. 3"
      yt_id: "VUFj8QPcBz0"

    -
      title: "Jules Massenet - Medytacja z opery Thais"
      yt_id: "_4qQoP2F6Dk"

    -
      title: "Georgy Catoire - Elegia"
      yt_id: "lNRB2tulmYY"

en:
  musics:
    -
      title: "Eugène Ysaÿe Sonata No.5 in G Major p.1 L'Aurore"
      yt_id: "LX61jKWAx9k"

    -
      title: "Ignatz Waghalter: Concerto for Violin and Orchestra A major Op.15 p.3"
      yt_id: "VUFj8QPcBz0"

    -
      title: "Jules Massenet - Meditation from Thais"
      yt_id: "_4qQoP2F6Dk"

    -
      title: "Georgy Catoire - Elegy"
      yt_id: "lNRB2tulmYY"
---
