---
active_menu_item: reviews
template: reviews


pl:
  title: Recenzje
  reviews:
    -
      text: Aleksandra Kuls i Justyna Danczowska tworzą doskonale rozumiejący się duet, realizujący wspólną koncepcję interpretacyjną. To gra energiczna, wręcz zadzierzysta, ostra, zdecydowana; w natarciu na to co będzie - nie zaś rozpamiętująca dźwięki zostawiane w tyle. (...) Wzorowo zbalansowane, soczyste nagranie (...).
      author: Hanna Milewska, Hi-Fi i Muzyka 05-2016 (218)
      link: http://www.hi-fi.com.pl/klasyka-p%C5%82yty-lista/3438-beethoven,-brahms,-massenet-aleksandra-kuls-skrzypce-justyna-danczowska-fortepian.html


    -
      text: Przez ponad pół roku, jakie minęło od Konkursu im. Wieniawskiego, dwudziestojednoletnia Aleksandra Kuls wspaniale się rozwinęła, nie tracąc młodzieńczej spontaniczności. Pogłębiła wykazywane już przedtem doskonałe wyczucie czasu w muzyce oraz jej epickości, co pozwoliło z III Sonaty d-moll Brahmsa stworzyć prawdziwą kreację.
      author: Anna Woźniakowska, Ruch Muzyczny, 22 lipca 2012, nr 15

    -
      text: Nagroda za szczerość i radość muzykowania, za naturalne emocje wyrażane w grze. Za umiejętności, jakie pokazała podczas Międzynarodowego Konkursu Skrzypcowego im. Henryka Wieniawskiego.
      author: polityka.pl
      link: http://www.polityka.pl/tygodnikpolityka/paszportypolityki/1523415,1,aleksandra-kuls.read

    -
      text: Aleksandra Kuls nadała Koncertowi D-dur Brahmsa przynależną mu głębię, powagę, ale i odpowiednią dozę wirtuozerii, szczególnie w "węgierskim" finale. Prowadziła muzyczną narrację mądrze i konsekwentnie, należycie zbudowała dramaturgię potężnego utworu. Na bis oczarowała wszystkich Sarabandą z III Partity Bacha. Przejmująca cisza, jaka zapanowała w filharmonii po ostatnim dźwięku, najlepiej świadczyła o jakości interpretacji.
      author: Anna Woźniakowska "Dziennik Polski"
      link: http://pl-pl.facebook.com/note.php?note_id=355125977861343

    -
      text: "Młoda skrzypaczka brawurowo wykonała: Chaconne z II Partity d-moll Johanna Sebastiana Bacha, Kaprysy Niccolo Paganiniego (nr 13 i nr 24 z opusu 1), Kaprysy Henryka Wieniawskiego (nr 6 op. 10 i nr 3 op. 18) oraz swoje własne kompozycje (Huśtawka, Preludium). Wybitnie uzdolniona artystka znakomicie poradziła sobie z trudnym zadaniem wypełnienia całego koncertu grą solową, bez wsparcia akompaniatora. Zaczarowała publiczność nie tylko doskonała grą, ale także wspaniałą osobowością i wrażliwością muzyczną. Z niezwykłą skromnością przyjmowała komplementy słuchaczy, zachwyconych jej grą i wołających bisu (skrzypaczka wykonała Sarabandę J. S. Bacha)."
      author: ckis.pl

en:
  title: Reviews
  reviews:
    -
      text: Prize for the sincerity and joy of music-making, and honesty of emotions expressed when playing music. Also, for the flair she demonstrated during The Henryk Wieniawski International Violin Competition.
      author: polityka.pl
      link: http://www.polityka.pl/tygodnikpolityka/paszportypolityki/1523415,1,aleksandra-kuls.read

    -
      text: Aleksandra Kuls has managed to reflect in Brahms’ Concerto due depth of expression, solemnity, and at the same time an appropriate dose of virtuosity, especially in the “Hungarian” finale. She led the musical narration wisely and consistently, and accurately composed the drama of a major piece. As an encore, she enchanted her listeners with Bach’s Sarabanda from the III Score. Overwhelming silence that fell in the hall after the last tone best reflected the quality of her interpretation.
      author: Anna Woźniakowska "Dziennik Polski"
      link: http://pl-pl.facebook.com/note.php?note_id=355125977861343

    -
      text: "The young violinist daringly performed: Chaconne from II Score D-minor by Johann Sebastian Bach, Niccolo Paganini’s Caprice (no 13 and no 24 from opus 1), Henryk Wieniawski’s Caprice (no 6 op. 10 and no 3 op. 18) as well as her own compositions (The Swing, Prelude). The unusually gifted artist masterfully handled the ardous task of making the whole concert a solo performance without the support of an accompanist. She enchanted her audience not only with excellent performance but also with her inspiring personality and musical sensitivity. She modestly welcomed the complements from the audience who were delighted with her performance and requested encore (the violinist performed Bach’s Sarabanda)."
      author: ckis.pl

---
