br.clear {
  clear: both;
}

body {
  padding-top: 5px;
  font-family: Verdana, Tahoma;
  background: #111 image-url("layout/bg_gradient.png") repeat-x 0 0;
}

#wrapper {
  width: 962px;
  margin: 10px auto 0 auto;
}

header {
  float: left;
  padding: 0 0 10px 65px;
  margin-bottom: 0px;
}

header a {
  display: block;
  width: 623px;
  height: 101px;
  background: image-url("layout/logo.png") no-repeat 0 0;
  text-indent: -9999px;
}

header a h1 {
  font-size: 44pt;
}

section#language {
  float: right;
  margin: 13px 25px 0 0;
}

section#language li a {
  display: block;
  width: 48px;
  height: 36px;
  padding-bottom: 3px;
  text-indent: -9999px;
}

section#language li.pl a {
   background: image-url("layout/pl.png") no-repeat 0 0;
}

section#language li.en a {
   background: image-url("layout/en.png") no-repeat 0 0;
}

div#inner {
  clear: both;
  background: #202020 image-url("layout/menu_gradient.png") repeat-x 0 0;
}

div#left {
  float: left;
}

section#menu {
  width: 250px;
}

section#menu ul {
  margin: 30px 0 0 10px;
}

section#menu ul li {
  padding-bottom: 15px;
}

section#menu ul li a {
  display: block;
  padding-left: 55px;
  font-size: 17pt;
  text-decoration: none;
  color: #7f7f7f;
  letter-spacing: 3px;
}

section#menu ul li:hover a {
  color: #fff;
}

section#menu ul li.active a {
  color: #fff;
  background: image-url("layout/menu_active.png") no-repeat 25px 50%;
}

section#news {
  clear: both;
  color: #666;
  width: 230px;
  margin-left: 10px;
  margin-top: 152px;
}

section#news .news .image {
  display: block;
  margin-bottom: 5px;
}

section#news .news .content {
  text-align: justify;
  font-size: 10pt;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  color: #ACACAC;
  background-color: #1A1A1A;
  letter-spacing: 6px;
  font-size: 10pt;
  padding: 47px 0;
}