body {
  padding-top: 5px;
  font-family: Verdana, Tahoma;
  background: #111 image-url("layout/bg_gradient.png") repeat-x 0 0;
}

#wrapper {
  width: 962px;
  margin: 10px auto 0 auto;
}

div#inner {
  clear: both;
  background: #202020 image-url("layout/menu_gradient.png") repeat-x 0 0;
}

div#side-content {
  float: left;
}
