body {
  padding-top: 5px;
  font-family: Verdana, Tahoma;
  background: #111 image-url("layout/bg_gradient.png") repeat-x 0 0;
}

.wrapper {
  width: 962px;
  margin: 10px auto 0 auto;
}

.inner {
  clear: both;
  background: #202020 image-url("layout/menu_gradient.png") repeat-x 0 0;
}

.side-content {
  float: left;
}

section.content {
  width: 712px;
  margin-left: 250px;
  color: #777;
  font-size: 10pt;
  font-family: Verdana, Tahoma;
  background-color: #2d2d2d;

  .page-title {
    width: 592px;
    font-weight: normal;
    font-size: 20pt;
    letter-spacing: 10px;
    color: #C0AC8C;
    margin: 10px 0 20px 60px;
  }

  //
  // bb styling
  p {
    padding: 0 60px 20px 60px;
    text-align: justify;

    cite {
      font-style: italic;
    }

    a {
      color: #c0aC8C;
    }
  }
}