---
active_menu_item: concerts
template: concerts


pl:
  title: Koncerty
  link_text: pokaż wszystkie
  link: concerts_path
  scope: INCOMMING

en:
  title: Concerts
  link_text: show all
  link: concerts_path 
  scope: INCOMMING
---
