---
active_menu_item: concerts
template: concerts


pl:
  title: Koncerty
  link_text: pokaż tylko przyszłe koncerty
  link: concerts_incomming_path
  scope: ALL

en:
  title: Concerts
  link_text: show only incomming concerts
  link: concerts_incomming_path
  scope: ALL
---
