---
active_menu_item: concerts
template: concerts


pl:
  title: Koncerty
  link_text: pokaż wszystkie
  link: concerts_all_path
  scope: TODAY

en:
  title: Concerts
  link_text: show all
  link: concerts_all_path 
  scope: TODAY
---
