header {
  float: left;
  padding: 0 0 10px 65px;
  margin-bottom: 0px;

 .logo {
    display: block;
    width: 623px;
    height: 101px;
    background: image-url("layout/logo.png") no-repeat 0 0;
    text-indent: -9999px;
  }
}