section.menu {
  width: 250px;

  .list {
    margin: 30px 0 0 10px;
  }

  .item {
    padding-bottom: 15px;
  }

  .link {
    display: block;
    padding-left: 55px;
    font-size: 17pt;
    text-decoration: none;
    color: #7f7f7f;
    letter-spacing: 3px;
  }

  .item:hover .link {
    color: #fff;
  }

  .item.active .link {
    position: relative;
    color: #fff;

    &:before {
      position: absolute;
      display: block;
      content: " ";
      background-color: #FF6425;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      top: 5px;
      left: 25px;
    }
  }
}