section.menu {
  width: 250px;

  .list {
    margin: 30px 0 0 10px;
  }

  .item {
    padding-bottom: 15px;
  }

  .link {
    display: block;
    padding-left: 55px;
    font-size: 17pt;
    text-decoration: none;
    color: #7f7f7f;
    letter-spacing: 3px;
  }

  .item:hover .link {
    color: #fff;
  }

  .item.active .link {
    color: #fff;
    background: image-url("layout/menu_active.png") no-repeat 25px 50%;
  }
}