.music {
  .item {
    padding-top: 20px;
  }

  .video {
    background-color: #1A1A1A;
    margin: 0 auto;
    padding: 11px 11px 8px 11px;
    text-align: center;
    width: 640px;
  }

  .title {
    font-weight: normal;
    font-size: 18pt;
    color: #C0AC8C;
    margin: 10px 0 25px 25px;
  }
}

.concerts {
  .table {
    width: 660px;
    padding: 0 0 10px 60px;

    .item .date {
      width: 114px;
      vertical-align: top;
    }

    .item.past td {
      border-top: 1px solid #C0AC8C;
    }

    .item.past ~ .past td {
      border: none;
    }
  }

  .additional-options {
    color: #C0AC8C;
    text-decoration: none;
    margin: -19px 0 20px 60px;
    display: block;
  }
}

.gallery {
  .list {
    padding-top: 36px;
  }

  .item {
    float: left;
    margin-left: 73px;
    line-height: 200px;
    height: 200px;
    padding-bottom: 40px;
  }
  .image {
    border: 0 none;
    width: 120px;
    padding: 10px;
    background-color: #1A1A1A;
    vertical-align: middle
  }
}

.reviews {
  .item {
    font-style: italic;
    padding-bottom: 40px;

    .author {
      display: block;
      text-align: right;
      text-decoration: none;
      color: #c0aC8C;
    }
  }
}