.image-wrapper {
  position: relative;

  .image {
    display: block;
  }

  .additional-text {
    position: absolute;
    bottom: 1px;
    right: 2px;
    color: #fff;
    font-size: 6pt;
  }
}


section#content {
  width: 712px;
  margin-left: 250px;
  color: #777;
  font-size: 10pt;
  font-family: Verdana, Tahoma;
  background-color: #2d2d2d;

  h2.splash {
    text-align: justify;
    font-weight: normal;
    margin: 20px;
    padding: 5px;
    border: 1px solid #777;
  }

  h3 {
    width: 592px;
    font-weight: normal;
    font-size: 20pt;
    letter-spacing: 10px;
    color: #C0AC8C;
    margin: 10px 0 20px 60px;
  }

  p {
    padding: 0 60px 20px 60px;
    text-align: justify;
    cite {
      font-style: italic;
    }
  }

  table {
    padding: 0 0 10px 60px;
  }
}

ul.music {
  div.yt {
    background-color: #1A1A1A;
    margin: 0 auto;
    padding: 11px 11px 8px 11px;
    text-align: center;
    width: 640px;
  }

  li {
    padding-top: 20px;
  }

  h4 {
    font-weight: normal;
    font-size: 18pt;
    color: #C0AC8C;
    margin: 10px 0 25px 25px;
  }
}

.concerts {
  table {
    width: 660px;
    td.date {
      width: 114px;
      vertical-align: top;
    }

    .past td {
      border-top: 1px solid #C0AC8C;
    }

    .past ~ .past td {
      border: none;
    }
  }
  a.show_all_contacts {
    color: #C0AC8C;
    text-decoration: none;
    margin: -19px 0 20px 60px;
    display: block;
  }
}

ul.gallery {
  padding-top: 36px;
  li {
    float: left;
    margin-left: 73px;
    line-height: 200px;
    height: 200px;
    padding-bottom: 40px;
  }
  a img {
    border: 0 none;
    width: 120px;
    padding: 10px;
    background-color: #1A1A1A;
    vertical-align: middle
  }
}

p.review {
  font-style: italic;
  padding-bottom: 40px;
  a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #c0aC8C;
  }
}

.contact p {
  padding: 10px 0 0 60px;
  font-size: 8pt;
  a {
    color: #c0aC8C;
  }
}
